body {
    font-family: Arial;
    background: #f4f4f4;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.post {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}